html,
body{
  height: 100%;
}

.container{
  max-width: 1000px;
  padding: 30px 15px;
  margin: 0 auto;
}

.calc{
  width: 310px;
  padding: 5px;
  background-color: #c0c0c0;
  margin: 0 auto;
}

.calc span{
  background-color: inherit;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 5px;
  display: block;
  height: 25px;
}

.calc__close{
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px 5px 5px auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.calc__label{
  width: 100%;
}

.calc__input{
  max-width: 290px;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  border: none;
  background-color: #d9d9d9;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.calc__buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 45px);
  grid-gap: 5px;
}

.calc__btn{
  background-color: #d9d9d9;
  border: none;
  padding: 0;
  cursor: pointer;
}

.calc__btn--light{
  background-color: #f2f2f2;
}

.calc__btn--result{
  background-color: #73a3c9;
}
